@font-face {
    font-family: 'Open Sans', sans-serif;
    /*    font-family: "Helvetica Neue","Segoe UI",Lucida,Noto,Roboto,Arial,sans-serif;*/

}

body,
html,
p,
.btn {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004) !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    font-size: 1rem !important;
    transition: all 0.28s ease 0s;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

/****************************************************/
#foto,
#info {
    padding: 0 20px;
}

#info .brand {
    line-height: 30px;
}

.rating-content:hover,
#item-shipping-estimate-content:hover {
    cursor: pointer;
}

#item-shipping-estimate a,
.rate {
    color: #7c8f99;
    font-size: 1rem;
    line-height: 24px;
    text-decoration: underline;
}

#amount::before {
    font-family: "Linio Icon Set";
    content: "";
    float: left;
    width: 10%;
}

#amount::after {
    font-family: "Linio Icon Set";
    content: "";
    float: right;
    width: 10%;
}

#badges {
    margin-top: 420px;
    display: block;
    background: white;
    padding: 4px 10px;
    text-align: center;
}

#item-shipping-estimate {
    padding: 20px 0;
    margin: 0;
}

.container-semi-fluid {
    max-width: 1180px;
    min-width: 312px;
}

.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 4px;
    padding-right: 4px;
}

.badge {
    border: #ccc 1px solid;
    border-radius: 4px;
    font-size: 1rem;
    background: white;
    padding: 2px 4px;
    cursor: pointer;
}

.badge .icon {
    top: 5px;
    font-size: 20px;
    position: relative;
}

.product-detail .product-title h1,
.rating-content {
    margin: 0px 0 10px 0;
}

.btn:focus {
    outline: none
}

.item-shipping-estimate .item-shipping-estimate-title {
    padding-bottom: 2px;
}

.buy-information .seller-information {
    border-top: solid 1px #ccc;
    margin: 10px 0px;
}

.seller-information a {
    margin: 0 !important;
    color: #45a00a;
}

.seller-information .score {
    color: #45a00a !important;
}

.buy-information .product-price .variation-title,
.buy-information .seller-information h4 {
    text-transform: uppercase;
    font-weight: normal;
    font-weight: bold;
    font-size: 1rem;
    color: #444444;
}

.original-price,
.discount {
    font-size: 1rem;
}

.btn.btn-lg {
    height: 52px;
    font-size: 20px;
    line-height: 32px;
}

.navbar-linio .navbar-toggler {
    background: none;
}

.product-title h1 {
    font-size: 1.4em;
}

.subheader-navbar {
    font-size: 1rem;
}

.subheader-navbar .subheader-links-set a {
    padding: 8px;
}

.navbar-title {
    font-size: 1rem;
    font-weight: 400;
}

.navbar-linio .input-group-search .search-categories,
.input-group .form-control:last-child {
    font-size: 1rem;
}

.price-deal {
    font-size: 1.6rem;
}

.special-payment-name {
    font-size: 1rem;
}

.special-payment-section {
    padding-top: 4px;
}

.special-payment-section .icon {
    font-size: 1.6rem;
}

.price-main .price-promotional,
.price-main {
    font-size: 1.6rem;
    line-height: 32px;
}

.product-price-container {
    padding: 10px 0px 20px 10px;
}

.rating-content .score {
    font-weight: bold;
    color: darkorange;
    margin-right: .4rem;
}

.rating-content .star-rating.high-rating .active {
    color: darkorange;
}

.rating-content .star-rating {
    margin-right: .4rem;
}

.btn.btn-default-outline {
    background: #f7f7f7;
    line-height: 36px;
    min-height: 42px;
    min-width: 94px;
    color: #777777;
}

/*.buy-information .product-price .product-options{}*/
.btn.btn-default-outline {
    border: #f7f7f7 solid 1px;
}

.buy-information .product-price .product-options .btn-disabled {
    color: #ddd;
    cursor: not-allowed;
    font-weight: lighter;
}

.btn.btn-default-outline.btn-disabled:hover {
    background: #f7f7f7;
    border: #f7f7f7 1px solid;
}

.buy-information .product-price .product-options .btn-disabled:after {
    background: #ddd;
}

.buy-information .product-price .product-options label {
    margin-bottom: 12px;
    margin-right: 12px;
}

.product-detail .gallery-product-image {
    height: 111px;
}

.item-shipping-estimate .valid .item-shipping-estimate-title {
    font-weight: bold;
}

.product-detail .product-title .product-subtitle {
    padding: 0;
}

.seller-rating-tag {
    border-radius: 2px;
    padding: 3px 6px;
    height: 26px;
}

.buy-information .product-price .product-bg-container a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    color: #45a00a;
    margin-right: 0;
}

.item-shipping-estimate .item-shipping-estimate-response {
    font-size: 1rem;
}


.link-sizes {
    position: relative;
    color: #444 !important;
    text-decoration: none !important;
    text-transform: uppercase;
    font-weight: bold;
}

.link-sizes .icon {
    position: relative;
    font-size: 1.6rem;
    color: #444;
    top: 6px;
}

.description-text-section {}

.description-text-section p {
    font-size: 1rem !important;
}

.description-text-section h1 {
    font-size: 1.4rem;
}

.table td {
    font-size: 1rem;
}

.product-description-container .features-box-section p:first-of-type {
    font-size: 1rem !important;
}

.product-description-container .features-box-section ul li {
    font-size: 1rem
}

.product-bg-container ul li {
    font-size: 1rem
}

.lighthouse {
    position: relative;
    width: 116px;
    height: 16px;
    display: flex;
    background: red ;
}

.lighthouse img {
    height: 16px;
    width: 116px;
}

/******************************* MOBILE-BREAKPOINT ********************************/
@media screen and (max-width: 991px) {
    #badges {
        display: none;
    }

    .product-detail .product-title {
        padding-top: 10px;
    }
}

@media screen and (max-width: 767px) {

    #foto,
    #info {
        padding: 0;
    }

    .wrapper {
        margin-top: 68px;
    }

    #item-shipping-estimate {
        padding: 20px;
    }

    #badges {
        margin: 0;
    }

    .product-detail .gallery-product-image .gallery-image-container {
        border: none;
    }

    .btn.btn-default-outline {
        min-width: 70px;
    }

    .product-detail .product-title h1 {
        font-size: 1.2rem;
    }

    .product-bg-container.variation-info > :first-child:not(form) {
        border-bottom: 20px;
        padding-top: 0px;
    }

    .buy-information .product-price .product-price-container {
        position: relative;
        box-shadow: none;
        margin-bottom: 0;
    }

    .buy-information .product-price button {
        border-radius: 6px;
        bottom: 0;
        left: 0;
        margin-bottom: 10px;
        position: relative !important;
        z-index: 25;
    }

    .item-shipping-estimate {
        padding: 0 10px;
    }

    .product-detail .gallery-product-image .gallery-image-container {
        width: 50%;
        min-height: 210px;
    }

    .product-detail .product-title {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }
}
